*{
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;

    padding:    1;
}
.container{
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e085f);
    height: 100vh;
    overflow: hidden;
   
}
.todoapp{
    width: 100%;
    max-width: 450px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px ;
    border-radius: 10px;
}
.todoapp h2{
    color:#002765 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todoapp img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 50px;
}
.row input{
    border-radius: 50px;
    flex: 1;
    padding: 10px 10px;
    outline:none;
    border: none;
    background: transparent;

}
.row button{
    padding: 10px 25px;
    border-radius: 35px;
    color: white;
    background : #ff5945;
    border: 0;
    outline: 0;
    cursor: pointer;

}
ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative; /* Ensure the ::before pseudo-element is positioned relative to this */

}

ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 16px; /* Adjust this according to your image */
    transform: translateY(-50%);
    height: 20px;
    border-radius: 50px;
    background-image: url(images/unchecked.png); /* Use forward slash instead of backslash */
    background-position: center;
    background-size: cover;
}
ul li.checked{
     color:#555;
     text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images\checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;

}

span {
    color: #ff5945;
    margin-left: 100px;
    border-bottom: 10px;
}